
$font-path: "../assets/fonts";

$app-direction: ltr;


@import "ionic.globals";

$colors: (
  primary: #C1F4CF,
  secondary:  #435d8c,
  danger:     #f53d3d,
  light:      #ffffff,
  dark:       #222,
    nice: #34B679,
     gr:#000000,
    dk:darkslategray
);

//TOp toolbar
$toolbar-md-background: color($colors,nice);

//bottom toolbar
$tabs-md-background:color($colors,nice);
$tabs-md-tab-color-active:color($colors,light);
$tabs-md-tab-text-color-active: color($colors,light);
$list-md-background-color:color($colors,nice);
$list-md-text-color:color($colors,light);
@import "ionic.theme.default";
 $tabs-md-tab-color-inactive: color($colors, gr);

// $tabs-md-text-color-inactive: color($colors, light);
@import "ionic.ionicons";




@import "roboto";
@import "noto-sans";
